$padding-default: .5rem;
$font-serif: Cardo, Georgia, serif;
$font-sans: Monserrat, sans-serif;

$screen-small: "screen and (max-width : 680px)";
$screen-lg: "screen and (min-width : 681px)";

$color-map-water: #0F3948;

/* Fundamental HTML styles */
body {
  background-color: #fff;
  color: #222;
  font-family: Cardo, Georgia, serif;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 600;
}

h1 {
  //font-size: 2.9vh;
  font-size: 1.4rem;
}
h2 {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: .5rem;
  font-weight: 800;
}

p {
  line-height: 1.35;
}
img {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
header h1 {
  text-transform: uppercase;
  padding: $padding-default;
  margin: 0;
  font-size: .8rem;
  line-height: .8rem;
}
header a {
  color: #fff;
}
header .language {
  font-family: Montserrat;
  padding-right: $padding-default;
  display: flex;
  line-height: 1.7rem;
}
header .language > a {
  margin-left: $padding-default;
}

/* Warning */
.warning {
  background-color: red;
  color: #fff;
  text-align: center;
  font-family: $font-sans;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.7rem;
  font-size: .63rem;
  padding-right: $padding-default;
  padding-left: $padding-default;
  flex-grow: 1;
}

/* Main */
main {
  position: absolute;
  top: .8rem + (2 * $padding-default) - 0.083rem;
  left: 0;
  right: 0;
  bottom: 0;
}


table {
  font-size: 1.9vh;
}
table td {
  padding: 2px 0;
  text-align: right;
  font-variant-numeric: tabular-nums;
}
table th {
  padding: 2px 10px 2px 0;
}


.map-pane .help p {
  margin-bottom: 0;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map > div {
  height: 100% !important;
  width: 100% !important;
}

/* Carousel / card system */
.carousel {
  height: 100%;
  box-shadow: inset 0 0 2vw rgba(0,0,0,0.1);
  background-color: #f3f3f3;
  font-size: 1rem;
}
.carousel > div {
  height: 100%;
}
.carousel .item {
  padding: $padding-default;
  height: 100%;
  overflow-y: scroll;
}
.carousel .item h3 {
  font-size: 1.9vh;
  line-height: 1.4;
  margin-top: 1.8vh;
  margin-bottom: .5vh;
}

.carousel .item .row {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.carousel .item .row div:first-child {
  padding-right: 20px;
}

/* Card 1 instructions */
.instruction-row img {
  width: 45px;
  border: 1px solid #999;
  margin-right: .8rem;
}

/* Catchall graphical elements */
.chart {
  display: flex;
  max-width: calc(50% - 2vw);
}
.chart table {
  margin-left: 15px;
  td, th {
    padding: 1px;
  }
  td {
    text-align: right;
  }
}

.info-pane > div {
  padding: ($padding-default * 0.25) $padding-default;
}

/* Legend (lives inside info pane) */
.map-legend {
  font-size: .7rem;
  line-height: 1rem;
  text-align: right;
}
.map-legend h2 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: .4rem;
}
.legend-box {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  margin-left: .4rem;
}

.map-overlay {
  transition: opacity .5s;
}
.map-overlay h1 {
  margin-top: 1.25rem;
  margin-bottom: .2rem;
  font-size: 1.9rem;
}
.map-overlay h2 {
  font-size: 1.2rem;
  margin-bottom: .2rem;
  font-weight: normal;
}
.map-overlay h3 {
  font-size: 1rem;
  font-weight: normal;
}

@media #{$screen-small} {
  /* Info pane */
  .info-pane {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    justify-content: space-between;
    overflow: scroll;
  }

  /* Explorer pane */
  .explorer-pane {
    position: relative;
    height: 60%;
  }

  /* Map pane */
  .map-pane {
    position: relative;
    height: 40%;
  }

  .map-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
  }
}

@media #{$screen-lg} {
  body {
    background-color: $color-map-water;
  }
  /* Info pane */
  //.info-pane {
    //position: absolute;
    //top: 0;
    //right: 0;
    //z-index: 99;
    //background-color: rgba(0, 0, 0, 0.4);
    //color: #fff;
    //justify-content: space-between;
    //overflow: scroll;
  //}

  /* Explorer pane */
  .explorer-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    z-index: 5;
  }

  /* Map pane */
  .map-pane {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
  }
}
