body {
  background-color: #fff;
  color: #222;
}

h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5vh;
  padding-right: 1.5vh;
  width: 100vw;
  z-index: 99;
  text-align: right;
}
header h1 {
  font-size: 2.5vh;
  line-height: 1;
  margin: 0;
}
header p {
  font-size: 1.5vh;
}
.map-pane {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vw;
  width: 100vw;
}
.map-pane > div {
  height: 100% !important;
  width: 100% !important;
}
.map-pane .mapboxgl-ctrl-bottom-left {
  left: auto;
  right: 40px;
  bottom: 3px;
}

.explorer-pane {
  position: absolute;
  left: 0;
  top: calc(100vh - 70vw);
  height: calc(100vh - 70vw);
}

.carousel {
  position: relative;
  width: 100vw;
}
.carousel .item {
  padding: 0.7rem;
}
//.carousel .item-inner {
  //border: 1px solid #555;
  //box-shadow: 0 0 4px #555;
  //border-radius: 5px;
  //background-color: #fff;
  //max-width: 800px;
  //margin: 1.2rem auto;
  //padding: .7rem;
  //color: #000;
//}

.carousel .item h1 {
  font-size: 1.2rem;
}

.recharts-text {
  font-family: Arial, sans-serif;
  font-size: 9px;
}
