body {
  background-color: #fff;
  color: #222;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

// Header
header {
  height: 4.3vh;
  background-color: #000;
  color: #fff;
}
header h1 {
  font-size: 2.3vh;
  padding: 1.1vh 3vw;
  line-height: 1;
  margin: 0;
}
header a {
  color: #fff;
}
header p {
  font-size: .8rem;
}

table {
  font-size: 1.9vh;
}
table td {
  padding: 2px 0;
  text-align: right;
  font-variant-numeric: tabular-nums;
}
table th {
  padding: 2px 10px 2px 0;
}

.explorer-pane {
  height: 53vh;
}

.map-pane {
  //position: absolute;
  //left: 0;
  //top: 4.3vh;
  position: relative;
  height: 43vh;
  width: 100%;
}
.map-pane .help {
  position: absolute;
  right: 1vh;
  top: 1vh;
  text-align: right;
  z-index: 10;
  max-width: 35vw;
  font-size: 1.5vh;
}
.map-pane .help p {
  margin-bottom: 0;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map > div {
  height: 100% !important;
  width: 100% !important;
}

.viewport-indicator {
  height: 8.5vh;
  position: absolute;
  top: 36vh;
  left: 10px;
  width: 35vw;
  z-index: 9;
  font-size: 1.5vh;
  line-height: 1.35;
}

.chart {
  display: flex;
  max-width: calc(50% - 2vw);
}
.chart table {
  margin-left: 15px;
  td, th {
    padding: 1px;
  }
  td {
    text-align: right;
  }
}
.carousel {
  box-shadow: inset 0 0 2vw rgba(0,0,0,0.1);
  height: 53vh;
  background-color: #f3f3f3;
}
.carousel .item {
}
.carousel .item-inner {
  padding: 1.3vh 3vw;
  box-shadow: 1px #000;
  font-size: 2vh;
}
.carousel .item-nav {
  // @TODO
}

.carousel .item p {
  margin-bottom: 1.3vh;
  line-height: 1.35;
}

.carousel .item h2 {
  font-size: 2.1vh;
  line-height: 1.4;
  margin-bottom: 1.4vh;
}

.carousel .item h3 {
  font-size: 1.9vh;
  line-height: 1.4;
  margin-top: 1.8vh;
  margin-bottom: .5vh;
}

.carousel .item .row {
  display: flex;
  margin-bottom: 2vh;
}

.carousel .item .row div:first-child {
  padding-right: 20px;
}

.map-legend {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.8vh;
}
.carousel .item .map-legend h2 {
  font-size: 1.8vh;
  font-style: normal;
}
.map-legend > div {
  margin-left: 3vw;
}
.legend-box {
  display: inline-block;
  width: 1.7vh;
  height: 1.7vh;
  margin-right: 4px;
}

.total-indicator table {
  min-width: 30vw;
}

.yearly-trend-chart {
  margin-bottom: 1.9vh;
}
